<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="login.component.css">
</head>
<body>
  <img src="assets/alarm-clock.png" alt="Logo iRemember" id="back">
  <div class="centrar-imagen">
    <img src="assets/logo.png" alt="Logo iRemember" id="logo">
  </div>
  <div>
    <input type="text" size="15" maxlength="30" value="  Usuario" name="usuario" id="textbox">
  </div>
  <div>
    <input type="text" size="15" maxlength="30" value="  Contraseña" name="contrasena" id="textbox">
  </div>
  <div>
    <a class="boton-azul" href="https://www.freecodecamp.org/">Iniciar Sesión</a>
  </div>
  <div>
    <a class="boton-azul" href="https://www.freecodecamp.org/">Crear Cuenta</a>
  </div>
</body>
</html>
