<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
  <div class="navbar">
    <div>
      <img src="assets/clock.png" alt="Logo iRemember" id="clk">
    </div>
    <div>
      <h1>iRemember</h1>
    </div>
    <div>
      <a class="boton-azul" (click)=toLogin()>Cerrar Sesión</a>
    </div>
  </div>
  <div id="menu">
    <div id="listado">
      <h2>Listado de alarmas y recordatorios</h2>
      <ul id="list">
        <li>
          <div class="item">
            <img src="assets/alarm.png" alt="tag" id="tag">
            <ul>
              <li id="list">
                Reunion con el jefe
              </li>
              <li id="list">
                8:00 AM
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="item">
            <img src="assets/alarm.png" alt="tag" id="tag">
            <ul>
              <li id="list">
                Entrega de documentacion
              </li>
              <li id="list">
                11:00 AM
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="item">
            <img src="assets/phone-call.png" alt="tag" id="tag">
            <ul>
              <li id="list">
                Llamar a recursos humanos
              </li>
              <li id="list">
                2:00 PM
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="item">
            <img src="assets/alarm.png" alt="tag" id="tag">
            <ul>
              <li id="list">
                Comida
              </li>
              <li id="list">
                3:00 PM
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div id="categorias">
      <h2>Categorias</h2>
        <ul id="categ">
          <li>
            <div class="item">
              <img src="assets/tag.png" alt="tag" id="tag">
              <ul>
                <li id="list">
                  Reuniones
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="item">
              <img src="assets/tag.png" alt="tag" id="tag">
              <ul>
                <li id="list">
                  Entregas
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="item">
              <img src="assets/tag.png" alt="tag" id="tag">
              <ul>
                <li id="list">
                  Llamadas
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <a class="boton-azul-medio" (click)=toCategoria()>Crear Categoria</a>
    </div>
  </div>
  <div id="footer">
    <div>
      <a class="boton-azul" href="https://www.freecodecamp.org/">Integraciones</a>
    </div>
    <div>
      <a class="boton-azul-centro" (click)=toAlarma()>Crear Alarma</a>
    </div>
    <div>
      <a class="boton-azul" (click)=toAlarma()>Crear Recordatorio</a>
    </div>
  </div>
</body>
</html>
