<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
  <div class="navbar">
    <div>
      <img src="assets/clock.png" alt="Logo iRemember" id="clk">
    </div>
    <div>
      <h1>iRemember</h1>
    </div>
    <div>
      <a class="boton-azul" href="https://www.freecodecamp.org/">Cerrar Sesión</a>
    </div>
  </div>
  <div id="menu">
    <div id="listado">
      <h2>Listado de alarmas y recordatorios</h2>
      <ul id="list">
        <li>
          <div class="item">
            <img src="assets/alarm.png" alt="tag" id="tag">
            <ul>
              <li id="list">
                Reunion con el jefe
              </li>
              <li id="list">
                8:00 AM
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="item">
            <img src="assets/alarm.png" alt="tag" id="tag">
            <ul>
              <li id="list">
                Entrega de documentacion
              </li>
              <li id="list">
                11:00 AM
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="item">
            <img src="assets/phone-call.png" alt="tag" id="tag">
            <ul>
              <li id="list">
                Llamar a recursos humanos
              </li>
              <li id="list">
                2:00 PM
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="item">
            <img src="assets/alarm.png" alt="tag" id="tag">
            <ul>
              <li id="list">
                Comida
              </li>
              <li id="list">
                3:00 PM
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div id="categorias">
      <h2>Categorias</h2>
        <ul id="categ">
          <li>
            <div class="item">
              <img src="assets/tag.png" alt="tag" id="tag">
              <ul>
                <li id="list">
                  Reuniones
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="item">
              <img src="assets/tag.png" alt="tag" id="tag">
              <ul>
                <li id="list">
                  Entregas
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="item">
              <img src="assets/tag.png" alt="tag" id="tag">
              <ul>
                <li id="list">
                  Llamadas
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <a class="boton-azul-medio" href="https://www.freecodecamp.org/">Crear Categoria</a>
    </div>
  </div>
  <div class="cuadrado-flotante">
    <div class="navbar">
      <div>
        <img src="assets/close.png" alt="cerrar" id="cerrar">
      </div>
      <div>
        <h2>Crear Alarma</h2>
      </div>
    </div>
    <div>
      <input type="text" size="15" maxlength="30" value="  Nombre de Alarma" name="alarma" id="textbox-alarma">
    </div>
    <div>
      <h4>Hora</h4>
      <div id="hora_widget">
        <div id="widget_box">
          <input type="text" size="15" maxlength="30" value=" 00" name="fecha" id="textbox-widget">
          <input type="text" size="15" maxlength="30" value=" 00" name="fecha" id="textbox-widget">
          <div>
            <div>
              <input type="text" size="15" maxlength="30" value="   AM" name="fecha" id="textbox-widget-ampm">
            </div>
            <div>
              <input type="text" size="15" maxlength="30" value="   PM" name="fecha" id="textbox-widget-ampm">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h4>hh:mm</h4>
    </div>
    <div>
      <input type="text" size="15" maxlength="30" value="  Fecha" name="fecha" id="textbox">
    </div>
    <div>
      <h4>dd/mm/aa</h4>
    </div>
    <div>
      <a class="boton-azul-crear" href="https://www.freecodecamp.org/">Crear Alarma</a>
    </div>
  </div>
  <div id="footer">
    <div>
      <a class="boton-azul" href="https://www.freecodecamp.org/">Integraciones</a>
    </div>
    <div>
      <a class="boton-azul-centro" href="https://www.freecodecamp.org/">Crear Alarma</a>
    </div>
    <div>
      <a class="boton-azul" href="https://www.freecodecamp.org/">Crear Recordatorio</a>
    </div>
  </div>
</body>
</html>
